# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables
.env*

# Database files
*.db
*.sqlite
*.sqlite3

# Log files
*.log

# Output directories
graphicresult/

# OS specific files
.DS_Store
Thumbs.db 